body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}
.units a {
  text-decoration: none;
  color: #fafafa;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.body-app {
  /*background-image: url("../images/1.jpg"); max-width: none;*/
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(
    circle at 48.7% 44.3%,
    rgb(30, 144, 231) 0%,
    rgb(56, 113, 209) 22.9%,
    rgb(38, 76, 140) 76.7%,
    rgb(31, 63, 116) 100.2%
  );
  color: white;
}
.overview {
  margin-bottom: 20px;
}
.weather-temp {
  margin: 0 auto;
}
.weather-temp strong {
  color: #fafafa;
  font-size: 64px;
  line-height: 1px;
  font-weight: 600;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
